body {
  position: relative;
  padding: 0;
  margin: 0 auto;
  width: 1080px;
}
.wrapper {
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-areas:
  "header header"
  "aside article"
  "another another"
  "footer footer";
  grid-template-columns: 1fr 4fr;
}
.article {
  width: 100%;
  display: sticky;
  height: 100vh;
  margin-top: 40px;
  grid-area: article;
  border: 1px solid black;
}
.post-area {
  width: 1080px;
  margin: 0 auto;
}
.post-body {

  margin: 0 auto;
  padding: 25px;
}
.comment-box {
  padding: 12px 23px 15px 0;
}
.comment-text {
  padding-left: 15px;
}
.comment-info {
  padding-left: 15px;
  font-size: 13px;
}
.comment-input {
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
  padding-left: 10px;
}
.comment-input > textarea {
  width: 90%;
  margin: 0 auto;
}
.channel-box {
  width: 80%;
  padding: 25px;
  margin: 0 auto;
}
table {
  width: 100%;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  border-collapse: collapse;
}
th {
  height: 40px;
}
tr {
  height: fit-content;
  padding: 10px 0 8px 4px;
}
td {
  text-align: center;
  border: 1px solid gainsboro;
}
table tr:first-child td {
  height: 40px;
  border-bottom: 1px solid black;
}
table td:nth-child(1) {
  width: 50px;
}
table td:nth-child(3) {
  width: 150px;
}
table td:nth-child(4) {
  width: 100px;
}
table td:nth-child(5) {
  width: 50px;
}
.container {
  width: 1080px;
  margin: 0 auto;
}
input {
  width: 100%;
  height: 50px;
  font-size: 20px;
}
textarea {
  width: 100%;
}
.content-body > textarea {
  height: 400px;
}
.create-post-button {
  text-align: right;
  position: sticky;
  grid-area: another;
}
.post-table {
  display: flex;
}
li {
  padding-top: 10px;
}
.post-button {
  text-align: right;
  position: sticky;
  grid-area: another;
}
.input-content {
  padding-top: 50px;
}