* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-areas:
    "header header"
    "aside article"
    "another another"
    "footer footer";
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
}

.article {
  width: 100%;
  grid-area: article;
  border-top: 5px solid black;
}

#post-body {
  min-height: 500px;
  height: auto;
  padding: 25px;
  margin-bottom: 50px;
  border-top: 3px solid black;
}

.post-info {
  margin-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#comments {
  border-top: 3px solid #007bff;
}

.comment {
  padding: 12px 12px 12px;
  border-top: 3px solid #007bff;
  border-bottom: 3px solid #007bff;
}

.comment-box {
  padding: 12px 0 15px;
}

.comment-text,
.comment-info {
  padding-left: 15px;
  font-size: 13px;
}

.comment-input {
  width: 100%;
  border: 1px solid black;
  padding: 10px;
}

.comment-input textarea {
  width: 100%;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-top: 3px solid black;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px;
  vertical-align: middle;
}

th {
  text-align: center;
  background-color: gainsboro;
}

th:nth-child(1),
td:nth-child(1) {
  width: fit-content;
  white-space: nowrap;
}

th:nth-child(4),
td:nth-child(4) {
  width: 88px;
}

th:nth-child(2),
td:nth-child(2) {
  width: 340px;
}

td:nth-child(2) {
  text-align: left;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.content-btn {
  text-align: right;
  margin: 10px;
}

.modify-btn,
.delete-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-top: 5px;
  cursor: pointer;
}

.delete-btn {
  background-color: #f44336;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  margin-bottom: 10px;
}

.input-field input,
.input-field textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-field textarea {
  resize: vertical;
}

.create-post-button {
  text-align: right;
  position: sticky;
  grid-area: another;
  top: 20px;
}

ul > li {
  margin-bottom: 8px;
}

.another {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: another;
}

#search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

#search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}